@font-face {
			font-family: "HelveticaRegular";
			src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
			src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
			url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "HelveticaBold";
			src: url("../fonts/HelveticaBold/HelveticaBold.eot");
			src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
			url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "HelveticaLight";
			src: url("../fonts/HelveticaLight/HelveticaLight.eot");
			src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
			url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "HelveticaBlack";
			src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
			src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"),
			url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "HelveticaHeavy";
			src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
			src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"),
			url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "HelveticaMedium";
			src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
			src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"),
			url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "HelveticaThin";
			src: url("../fonts/HelveticaThin/HelveticaThin.eot");
			src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
			url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "HelveticaUltraLight";
			src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
			src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"),
			url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BebasRegular";
			src: url("../fonts/BebasRegular/BebasRegular.eot");
			src: url("../fonts/BebasRegular/BebasRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasRegular/BebasRegular.woff") format("woff"),
			url("../fonts/BebasRegular/BebasRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BebasBook";
			src: url("../fonts/BebasBook/BebasBook.eot");
			src: url("../fonts/BebasBook/BebasBook.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasBook/BebasBook.woff") format("woff"),
			url("../fonts/BebasBook/BebasBook.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BebasBold";
			src: url("../fonts/BebasBold/BebasBold.eot");
			src: url("../fonts/BebasBold/BebasBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasBold/BebasBold.woff") format("woff"),
			url("../fonts/BebasBold/BebasBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BebasLight";
			src: url("../fonts/BebasLight/BebasLight.eot");
			src: url("../fonts/BebasLight/BebasLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasLight/BebasLight.woff") format("woff"),
			url("../fonts/BebasLight/BebasLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BebasThin";
			src: url("../fonts/BebasThin/BebasThin.eot");
			src: url("../fonts/BebasThin/BebasThin.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasThin/BebasThin.woff") format("woff"),
			url("../fonts/BebasThin/BebasThin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}