/*Шрифты*/

mainFont = "HelveticaRegular"
boldFont = "HelveticaBold"
mediumFont = "HelveticaMedium"
bebasFont = "BebasBold"

/*Цвета*/

mainRedColor = #e24335
brightGrayColor = #e4e7e7
lightGrayColor = #595959
darkGrayColor = #737070
wetAsphalt = #575757
lightwetAsfaltColor = #f2f4f4
SmokeWhiteColor = #EBE8E8
TransportBlackColor = #1f1f1f
